<div>
  <label>name:
    <input #heroName placeholder="name"/>
    <button (click)="add(heroName.value)">Add</button>
  </label>
</div>

<div>
  <h1>Pipe Tests</h1>
  <button (click)="pipeNextTest()">Pipe Next</button>
  <button (click)="pipeReferenceTest()">Pipe Reference</button>
</div>

<div>
  <h1>Other Tests</h1>
  <button (click)="testEquals()">Equals</button>
  <button (click)="undefinedTest()">undefined Test</button>
  <div>
    <input [(ngModel)]="inputValue">
    <button (click)="undefinedTestInput()">undefined Input Test</button>
  </div>
</div>

<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes; let i = index">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    Index: {{i}}
    <button class="delete" title="delete hero"
            (click)="delete(hero)">x</button>
  </li>
</ul>
